
Django
django-admin-views
django-adminplus
django-allauth
django-bootstrap-datepicker-plus
django-bootstrap4
django-chartit
django-chartjs
django-cors-headers
django-cors-middleware
django-crispy-forms
django-extensions
django-heroku
django-oauth-toolkit
django-rest-passwordreset
django-storages
djangorestframework
gunicorn
Pillow
psycopg2==2.8.4
python3-openid
pytz
whitenoise
requests
